<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
    <%= form_for user do |f| %>
        <div>
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <br>
        <div>
            <%= f.label :password %> 
            <%= f.password_field :password %>
        </div>
        <br>
        <%= f.submit "Submit" %> 
    <%end%>
</div>