<% title "Login" %>
<%= image_tag('home.jpg') %>
<div class="body">
    <div class="center form-width">
        <p>Please login to continue</p>
        <br>
        <%= flash[:error] %>
    
        <%= form_for :user do |f| %>

            <div class="field<%= ' field_with_errors' if flash[:error] %>">
                <%= f.label :username %>
                <%= f.text_field :username, class: 'form-control'  %>
            </div>

            <br>

            <div class="field<%= ' field_with_errors' if flash[:error] %>">
                <%= f.label :password %> 
                <%= f.password_field :password, class: 'form-control'  %>
            </div>

            <br>

            <%= f.submit "Submit" %> 
        <%end%>
    <br>
        <%= link_to "home", '/' %>
    </div>
</div>