<%= form_tag(books_path, method: :get) do %>
    <p>Search for a book by title or author</p> 
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
<% end %>

<% if @book %>
    <h4> - <%= link_to "#{@book.title}", @book %> </h4>   
<%end%>
<% if @author %> 
    <h4> - <%= link_to "#{@author.name}", @author %> </h4>   
<%end%>