welcome back, <%= current_user.username %><br>
<%= link_to "view all reviews", reviews_path %>

<%= form_tag(books_path, method: :get) do %>
    <p>Search for a book by title</p> 
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
<% end %>
<% if @book %>
    <p> - <%= @book.title %> </p>   
<%end%>

<h3>Can't find the book you're looking for?</h3>
<h4>Submit a New Book to Review</h4>
<%= link_to 'new book form', new_book_path %> 