<p>Add a new book to the library</p><br>

<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@book) do |f| %> 
    <div class="field<%= ' field_with_errors' if @book.errors[:name].any? %>">
        <%= f.label :title %><br>
        <%= f.text_field :title, :value => @book.title %> 
    </div>
    <br>
    <div class="field<%= ' field_with_errors' if @book.errors[:genre].any? %>">
        <%= f.label :genre %><br>
        <%= f.text_field :genre, :value => @book.genre %> 
    </div>
    <br>
    <div>
        <%= f.collection_select :author_id, Author.all, :id, :name, include_blank: "Select the author" %>
    </div>
    <br>
    <%= f.fields_for :author do |a| %>
        <div>
            <%= a.label :name, "Or add a new Author" %><br>
            <%= a.text_field :name %>
        </div>   
    <%end%>
    <br>
    <%= f.submit %>

<%end%>
<br>

<%= link_to "<< back to index", books_path %>