<h3><%= @book.title %></h3>
<% if @book.author != nil %>
        by - <%= link_to "#{@book.author.name}", author_path(@book.author) %>
<%end%>
<br>
<br>

<% if @review != nil %>
    Rating: <%= @review.rating %><br><br>
    <%= @review.content %><br><br><br>
    <%= link_to "Edit Review", edit_review_path(@review) %>
<%else%>
    <%= link_to "Add a Review", new_book_review_path(@book) %>
<%end%>
<br>

<%= link_to "<< back to index", books_path %>