<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@review) do |f| %>
    <div>
        <%= f.label :rating %>
        <%= f.number_field :rating, min:1, max:10 %>
    </div>
    
    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>

    <%= f.hidden_field :book_id %>
    
    <%= f.submit %>
<%end%>
<br>
<%= link_to "<< back to index", books_path %>