<!DOCTYPE html>
<html>
  <head>
    <title>BookReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <div class="navbar">
    <%= link_to 'Log Out', logout_path, method: :delete %>
  </div>
  
  <body>
    <%= yield %>
  </body>
</html>
