<!DOCTYPE html>
<html>
  <head>
    <title>BookReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="all">
    
      <div class="navbar">
        <%= image_tag('book.jpg') %><br>
        <% if session[:user_id] %>
          <%= link_to 'Log Out', logout_path, method: :delete %>
          <%= link_to "Reviews", reviews_path  %>
        <%end%>
      </div>


      <%= yield %>
      
    </div>
  </body>
</html>
